@font-face {
  font-family: gyptienne;
  src: url(gyptienne.ttf);
}

/* color scheme from: https://www.schemecolor.com/egyptian-art-color-scheme.php */

html {
  height: 100%;
}

body {
  position: relative;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  height: 5000px;
  /* background: linear-gradient(240deg, black, #361f10);
  background-size: 400% 400%;
  -webkit-animation: bgAnimate 10s ease infinite;
  animation: bgAnimate 10s ease infinite; */
}

h1 {
  font-family: gyptienne, "Comic Sans MS", cursive, sans-serif;
  font-size: 2.1em;
  margin: 0 1%;
  /* margin-bottom: 4%; */
  padding: 0;
  padding-left: 1%;
  border-left-style: solid;
}

#name {
  position: fixed;
  top: 0;
  left: 5px;
  padding-bottom: 10px;
  overflow: hidden;
}

#name a {
  margin-left: -410px;
  -webkit-transition: margin-left 2.0s;
  /* Safari */
  transition: margin-left 2.0s;
}

#landing {
  background-color: black;
  height: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.heroImg {
  background-image: url(img/squirrel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: inherit;
  margin: 0;
  opacity: 0.50;
}

#landingContent {
  color: white;
  position: absolute;
  height: 100%;
  margin: 0 10%;
  top: 0px;
  left: auto;
  right: auto;
}

#landingContent h1 {
  margin: 10% auto;
  border-left: none;
  padding: 0;
}

#landingContent h2 {
  margin: 15% auto;
}

/* .CTA {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 20%;
} */

.CTA .row {
  margin-top: 18%;
}

.CTA div a {
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s;
}

.CTA div a:hover {
  background-color: #5BC0DE;
  /* light blue */
}

p {
  /* margin: 0 5%;
  margin-bottom: 15px; */
}

a:link {
  text-align: center;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: saddlebrown;
  color: white;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #dea821;
  /* gold */
  min-height: 40px !important;
  /* overwrite bootstrap style */
}

#barContainer {
  position: absolute;
  top: -5px;
  left: -5px;
  width: inherit;
  height: inherit;
}

#barContainer img {
  /* animation-name: spin;
  animation-delay: 0.2s;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; */
}

.navItem {
  position: relative;
  width: auto !important;
  /* overwrite w3.css style */
  z-index: 1;
}

.navbar a:link {
  font-family: "Spicy Rice", "Lucida Grande", sans-serif;
  text-align: center !important;
  /* overwrite w3.css style */
  padding: 10px;
  border-radius: 15px;
}

#dropdownNav {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 1s;
  /* Safari */
  transition: height 1s;
}

.active {
  background-color: #4CAF50;
  /* green */
}

.header {
  position: relative;
  text-align: center;
  padding: 14px 0;
  color: white;
  background-color: #54786A;
  /* Hooker's Green */
}

.header p {
  position: relative;
  font-size: 25px;
  margin: 0;
  z-index: 1;
}

#polaroid {
  position: relative;
  z-index: 2;
  width: 90%;
  margin: auto;
  background-color: white;
  opacity: 0.75;
  transform: rotate(-2deg);
  -webkit-box-shadow: 8px 7px 21px 4px rgba(226,88,34,1);
  -moz-box-shadow: 8px 7px 21px 4px rgba(226,88,34,1);
  box-shadow: 8px 7px 21px 4px rgba(226,88,34,1);
  /* flame */
}

#polaroid img {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
}

.polaroidText {
  color: #222222;
  text-align: center;
  width: 100%;
}

#bio {
  text-align: center;
  /* margin: 50px 5px 30px 5px; */
}

form {
  padding: 5% 15% 2% 14%;
}

.center {
  text-align: center;
  margin: 0 25%;
}

#download {
  color: black;
  width: 50%;
  padding: 15px;
  margin: 30px 20px;
}

.btn-block {
  padding: 5px;
}

.w3-panel {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #333 !important;
  /* sleek gray */
  color: #babdc4;
  /* gray */
  position: relative;
  bottom: 0;
}

.panel {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.panel-body {
  background-color: #EFCF83;
  /* buff (parchment brown) */
  color: black;
}

.panel-body a {
  color: black;
  text-decoration: underline;
}

#resumeData td {
  width: 250px;
}

ul {
  margin: 7px 0;
  padding-left: 25px;
}

.panel-heading li {
  font-weight: normal;
}

@media only screen and (min-width:768px) {
  /* for tablet */
  #landingContent {
    margin: 0;
    width: 100%;
  }
  #landingContent h1 {
    margin: 12% auto;
  }
  #landingContent h2 {
    margin: 20% auto;
    margin-bottom: 0;
  }
  .CTA .btn-block {
    padding: 15px;
  }
  #activeBar {
    position: absolute;
    background-color: #4CAF50;
    /* green */
    width: 25%;
    margin-left: -290px;
    height: 50px;
    border-radius: 15px;
    -webkit-transition: margin-left 2.0s;
    /* Safari */
    transition: margin-left 2.0s;
  }
  .active {
    background-color: inherit;
  }
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  /* nav bar */
  .navbar ul {
    margin: 0 5%;
    padding: 0;
  }
  /* individual link boxes */
  .navbar li {
    padding: 10px 0;
  }
  .navbar li:hover {
    background-color: #4CAF50;
  }
  .panel-heading {
    font-weight: bold;
    border-top: solid 5px;
    padding: 0;
  }
  #right {
    text-align: right;
  }
}

@media only screen and (min-width:1024px) {
  /* For large screens */
  body {
    min-height: inherit;
  }
  .mainContainer {
    position: relative;
    margin: auto 10%;
  }
  h1 {
    font-size: 2.8em;
  }
  .heroImg {
    background-image: url(img/bridgewalk.jpg);
  }
  #landingContent {
    height: auto;
    margin: 8% auto;
  }
  #landingContent h1 {
    margin: 0 25%;
    margin-bottom: 10%;
  }
  #landingContent h2 {
    margin: 0 25%;
    margin-bottom: 10%;
  }
  .CTA {
    margin-top: 12%;
  }
  .CTA .row {
    margin-top: 0;
  }
  .noScroll {
    overflow: hidden;
  }
  h1 {
    margin: 0;
    margin-left: 2%;
  }
  #polaroid {
    width: 90%;
  }
  #bio {
    text-align: center;
    /* margin: 65px 50px 30px 50px; */
  }
  .panel-heading {
    margin-top: 10px;
  }
  .panel {
    margin: 0;
    margin-top: 15px;
  }
  .navbar-brand {
    margin: 0;
    padding: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@-webkit-keyframes bgAnimate {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bgAnimate {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
