html {
    background-color: #173b70;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #babdc4;
    background-color: #021c44;
    margin: 0 1%;
    padding: 0;
    overflow: auto;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    margin: 0 1%;
    margin-bottom: 3%;
    padding: 0;
    padding-left: 1%;
    font-size: 3em;
    border-left-style: solid;
}

p {
    margin: 0 5%;
    padding-bottom: 5px;
}

section {
    margin: 0 5%;
}

img {
    padding: 1%;
    padding-bottom: 5%;
}

a:link {
    color: #8c87c6;
}

a:visited {
    color: #cdc9ff;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #467687;
}

li a:link {
    font-family: "Spicy Rice", "Lucida Grande", sans-serif;
}

li a:visited {
    color: #e2e0ff;
}

li:hover {
    background-color: #4CAF50;
}

form {
    margin: 0 2%;
}

.noScroll {
    overflow: hidden;
}

.center {
    text-align: center;
    margin: 0 25%;
}

@media only screen and (min-width:768px) {

    body {
        margin: 0 12%;
    }

    .noScroll {
        overflow: hidden;
    }
    
    input:focus, textarea:focus {
        background: white;
    }

    a:link {
        text-align: center;
    }
    
    ul {
        list-style-type: none;
        background-color: #333;
        margin: 0;
        padding: 0;
        text-align: justify;
    }

    .w3-bar {
        width: 60%;
        margin: 0 20%;
    }

    li {
        display: inline-block;
    }

    li a:link {
        display: inline-block;
        padding: 5px;
        color: #e2e0ff;
        text-decoration: none;
    }

    li a:visited {
        color: #e2e0ff;
    }

    li:hover {
        background-color: #4CAF50;
    }

    #nav li {
        text-align: center;
        width: 20%
    }

    .currentPage a:link {
        background-color: #0349b5;
    }

    h1 {
        margin: 0 1%;
        padding-left: 2%;
    }

    h1 a:link {
        text-decoration: none;
    }

    img {
        padding: 0;
        padding-top: 2%;
    }

    .social {
        background-color: #021c44;
        position: absolute;
        top: 5px;
        right: 15%;
        margin: 0;
    }

    .center {
        text-align: center;
        margin: 0 25%;
    }

    p {
        margin: 0 5%;
        padding-bottom: 15px;
    }

    #about {
        text-align: center;
    }

    section {
        /*background-color: #8B4789;*/
        margin: 2% 3% 3% 2%;
        padding: 1% 2% 2% 2%;
        border-left: 3px #68228B solid;
        border-top: 2px #B23AEE solid;
    }

    footer {
        background-color: #333;
        text-align: center;
        width: 100%;
    }
}